#canvas {
    height: 693px;
    width: 1200px;
    background-color: #01642e;
    border-style: solid;
    border-color: black;
    margin: 0 auto;
    border-width: 2px;
}

#net {
    height: 693px;
    left: 50%;
    position:absolute;
    border-style: dashed;
    border-color: white;
    margin: 0 auto;
}
